.text-center
  Sort by:
  - [["Purchase Price", "asking_price"],
     ["Condo fees", "condo_fees"],
     ["Rent amount", "rent_amount"],
     ["Year built", "year_built"],
     ["Property taxes", "property_tax"]].each do | label, order |
    = link_to " - " + label, client_path(order: params[:order] == order ? order + " DESC" : order, view: params[:view])
  %br