= render layout: 'layouts/content_heading', locals: { title: 'Agent List' } do
  = link_to 'Add New Agent', new_agent_path, class: 'btn btn-primary'
.col-xs-12
  - @agents.each do |agent|
    = render 'agent', agent: agent
